    <div id="container" class="container"></div>

    <!-- container1是3D界面（webgl） -->
    <div id="container1" class="container">
        <canvas id="webGL" class="webGL"></canvas>
    </div>

    <!-- container2是各种载入器（loader） -->
    <div id="container2" class="container">

        <div id="loaders" class="loaders">
            <!-- 载入器1（loaders） -->

            <form class="select-form">
                <span class="input-click" id="input-click-1">+</span>
                <input  style="opacity:0.0" id="input1" type="file" name="file" data-url="/files" multiple>
            </form>

            <div id="loader1" class="loader">
              <div class="spinner">
                <div class="spinner-container container1">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
              </div>                
                <canvas id="loader1Canvas" width="150" height="150" class="canvas"></canvas>
            </div>

            <form class="select-form">
                <span class="input-click" id="input-click-2">+</span>
                <input style="opacity:0.0" id="input2" type="file" name="file" data-url="/files" multiple>
            </form>
            <div id="loader2" class="loader">
              <div class="spinner">
                <div class="spinner-container container1">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
              </div>                   
                <canvas id="loader2Canvas" width="150" height="150" class="canvas"></canvas>
            </div>
        </div>

        <div id="selector" class="selector"></div>
        <div id="selector1" class="selector1"></div>
        <div id="selector2" class="selector2"></div>
        <div id="selector3" class="selector3"></div>

    </div>
    </div>
    <script type="text/javascript" src="http://cdn.staticfile.org/three.js/r61/three.min.js"></script>

    <script type="text/javascript" src="/public/js/color_3d/init_style.js"></script>

    <script src="/public/js/plugins/upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/public/js/plugins/upload/js/jquery.iframe-transport.js"></script>
    <script src="/public/js/plugins/upload/js/jquery.fileupload.js"></script>

    <script type="text/javascript" src="/public/js/color_3d/add_selector.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/color_space.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/init_three.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/init_interactions.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/init_axis.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/init_visual.js"></script>
    <script type="text/javascript" src="/public/js/color_3d/cluster.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>

    <script type="text/javascript">
    </script>
