<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <title>Color 3D Analysis</title>
    <style>
      #fork{position:fixed;top:0;right:0;_position:absolute;z-index: 10000;}
    </style>
  </head>
  <body>
    <a href="https://github.com/dead-horse/color" id="fork" target="_blank">
      <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>  
   <%- locals.body %>
  </body>
</html>
